@{
    ViewBag.Title = "Index";
}

<h2>Coba Ajax</h2>

<table id="myTable" class="table table-striped"></table>

<button id="btnGet" class="btn btn-primary">Get Data</button><br />
<hr />

<label for="txtAgamaID">Agama ID :</label><br />
<input type="text" id="txtAgamaID" /><br /><br />
<label for="txtNamaAgama">Nama Agama :</label><br />
<input type="text" id="txtNamaAgama" /><br /><br />

<button type="button" id="btnAgamaById" class="btn btn-default">Get Agama By Id</button>
<button type="button" id="btnTambahAgama" class="btn btn-warning">Tambah Agama</button>

@section scripts{
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        
    <script>
        $(document).ready(function () {

            $("#btnGet").click(function () {
                GetData2();
            });

            $("#btnAgamaById").click(function () {
                GetAgamaById();
            });

            $("#btnTambahAgama").click(function () {
                TambahAgama();
            });

            function GetAgamaById() {
                var url = "http://dev.smart-ics.com:212/myhospital/api/BilDsAgama/GetById";
                var kode = $("#txtAgamaID").val();
                $.ajax({
                    type: "GET",
                    url: url,
                    data:{id:kode},
                    datatype: "json",
                    success: function (data) {
                        //alert(data.Kode + " " + data.Nama);
                        //alert(data.Nama);
                        $("#txtNamaAgama").val(data.Nama);

                    },
                    error: function (error) {
                        alert("Error : " + error.Msg);
                    }
                });
            }

            function TambahAgama() {
                var url = "http://dev.smart-ics.com:212/myhospital/api/BilDsAgama/Save";
                var kode = $("#txtAgamaID").val();
                var nama = $("#txtNamaAgama").val();
                $.ajax({
                    type: "POST",
                    url: url,
                    data: { Kode:kode,Nama:nama },
                    datatype: "json",
                    success: function (data) {
                        if (!data.IsValid) {
                            alert("Error " + data.Msg);
                        }
                        else
                        {
                            alert("Data " + nama + "berhasil ditambah");
                        }
                    },
                    error: function (error) {
                        alert("Error : " + error);
                    }
                });
            }

            function GetData() {
                var url = "http://dev.smart-ics.com:212/myhospital/api/BilDsAgama/ListAll";
                $.getJSON(url, function (result) {
                    if (result) {
                        var data = result;
                        var strResult = "";
                        $.each(data, function (key, value) {
                            strResult += value.Kode + " " + value.Nama + "\n";
                        });
                        alert("Hasil : \n" + strResult);
                    }
                    else {
                        alert("Gagal download data !")
                    };
                });
            }

            function InsertRow(data) {
                var newRow = "";
                newRow += "<tr>";
                newRow += "<td>" + data.Kode + "</td>";
                newRow += "<td>" + data.Nama + "</td>";
                newRow += "</tr>";
                return newRow;
            }

            function GetData2() {
                $("#myTable tr").remove();
                $("#myTable").append("<tr><th>Kode</th><th>Nama</th></tr>");


                var url = "http://dev.smart-ics.com:212/myhospital/api/BilDsAgama/ListAll";
                $.ajax({
                    type: "GET",
                    url: url,
                    datatype: "json",
                    success: function (data) {
                        var newRow = "";
                        $.each(data, function (key, value) {
                            newRow += InsertRow(value);
                        });
                        $("#myTable").append(newRow);
                    },
                    error: function (error) {
                        alert("Error : " + error);
                    }
                });
            }
        });
    </script>

}
